*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after{
    transition: background-color 0.5s, color 0.5s, transform 0.4s;
}

:root{
    --color-principal: #ffffff;
    --color-secundario: #e0f0ff;
    --color-terciario: #243757;
    --color-quartenario: #0A1828;
    --color-quintenario: #ccc;
    --color-senquenario: #777;

    --color-menu: #333;
    --color-hover-menu: #BFA181;
    --color-varient: #000;   
}

[data-theme="dark"]{
    --color-principal: #eeeeee;
    --color-secundario: #1E1E1E;
    --color-terciario: #2e3647;
    --color-quartenario: #0A1828;
    --color-quintenario: #ccc;
    --color-senquenario: #777;

    --color-menu: #ccc;
    --color-hover-menu: #BFA181;
    --color-varient: #aaaaaa;
}

body{
    background-color: var(--color-secundario);
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-terciario);
}

.hero p{
    color: var(--color-senquenario);
}
.menu{
    position: fixed;
    z-index: 1001;
}

.menu a{
    text-decoration: none;
    color: var(--color-quintenario);
    transition: color 0.3s ease;
}

.menu a:hover{
    color: var(--color-hover-menu);
}

.menu a label{
    cursor: pointer;
}

.menu #menuCheckbox {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 25px;
    opacity: 0;
    margin-top: 50px;
    margin-left: 50px;
    cursor: pointer;
}

.menu #menuToggle {
    position: absolute;
    z-index: 999;
    /*cada linha vai ter 5px e cada uma tem dois padding com 5px, totalizando 15px em cada linha*/
    width: 35px;
    height: 35px;
    margin-top: 50px;
    margin-left: 50px;
}
.menu #menuToggle span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    background-color: var(--color-varient);
    border-radius: 5px;
    transition: all 0.4s ease;
}

.menu #menuCheckbox:checked ~ #menuToggle span{
    background-color: var(--color-quintenario);
}
.menu #menuCheckbox:checked ~ #menuToggle span:first-child{
    transform: rotate(45deg) translate(7px, 7px);
}
.menu #menuCheckbox:checked ~ #menuToggle span:nth-child(2){
    opacity: 0;
}

.menu #menuCheckbox:checked ~ #menuToggle span:nth-child(3){
    transform: rotate(-45deg) translate(7px, -7px);
}

.menu ul{
    position: absolute;
    z-index: 998;
    top: 0;
    left: 0;
    width: 400px;
    height: 50vh;
    transform: translateX(-100%);
    padding: 150px 50px 50px;
    list-style: none;
    background-color: var(--color-quartenario);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    transition: all 0.4s ease;
}

.menu ul li{
    margin-bottom: 20px;
    font-size: 1.5rem;
}

menu ul li a{
    color:  var(--color-quintenario);
}

.menu #menuCheckbox:checked ~ ul{
    transform: translateX(0%);
    transition: all 0.4s ease;
}

.menu #Buttondack{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-principal);
}

.menu #Buttondack img{
    margin-top: 2px;
    text-align: center;
    color: var(--color-principal);
    width: 35px;
    height: 35px;
}

/*Home*/

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: default;
}

.banner_container{
    background-image: url(../Pasta_imagem/banner3temaclaro.jpg);
    background-size: cover;
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.title_m{
    text-align: center;
    color: var(--color-quartenario);
    margin-top: 100px;

}

.title_m h1{
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 2px solid darkred;
    font-size: clamp(0.6rem, calc(2vw + 1.2rem), 2.5rem);
    color: #0041bb;
}
.title_m p{
    color: whitesmoke;
    max-width: 190px;
    margin: auto;
    text-transform: capitalize;
    text-align: center;
    font-size: clamp(1rem, calc(1.2vw + 0.7rem), 1.5rem);
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid white;
}

.bloc{
    background-color: var(--color-principal);
    max-width: 800px;
    min-width: 320px;

    margin: auto;
    margin-top: 20px;
    border-radius: 1rem;
    padding: min(5em, 8% );
    overflow: auto;
}

.card img{
    width: 320px;
    height: 315px;
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
    max-width: 60%;
    height: auto;
}

.subtitle{
    margin-left: 80px;
}

.card p{
    font-size: large;
    line-height: 1.8;
}

footer{
    margin: 10px;
}

.end p{
    max-width: 150px;
    margin: auto;
    color: var(--color-varient);
    text-align: center;
}



/*Hobbie*/



.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: default;
}

.title_H{
    margin-top: 30px;
    text-align: center;
    color: var(--color-varient);
}

.title_H h1{
    display: inline-block;
    font-size: xx-large;
    text-transform: uppercase;
    text-align: left;
    font-size: clamp(0.6rem calc(2.5vw + 1.5rem) 2.5rem);
    border-bottom: 2px solid darkred;
    overflow: auto;
}

.main_imgs{
    margin-top: 30px;
}
.cardHOBBIES{
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px ;
}

.img_A, .img_B{
    background-color: var(--color-principal);
    width: 400px;
    border-radius: 0.5em;
    text-align: center;
}
.img_A img, .img_B img{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    width: 400px;
    height: 300px;
}
.img_A p, .img_B p{
    font-size: 20px;
    line-height: 25px;
    margin: 10px;
    text-align: justify;
}


/*Galeria*/

.container_galeria{
    min-height: 100vh;
    width: 100%;
}

.cards-galeria .principal{
    background-color: var(--color-terciario);
    width: 96%;
    min-width: 290px;
    padding: 20px;
    border-radius: 20px;
    margin: 11px;
}

.cards-galeria .principal h1{
    font-size: clamp(2rem, calc(1.6vw + 1rem), 3rem);
    overflow-wrap: break-word;
    width: 100%;
    margin: auto;
    letter-spacing: 1px;
}

.cards-galeria .principal b{
    color: #547792;
    margin: 0.5vw;
}

.cards .principal h2{
    font-size: clamp(1.8rem, calc(1.2vw + 1rem), 2.8rem);
    width: 100%;
    margin: auto;
    letter-spacing: 1px;
}

.cards-galeria .principal p{
    position: relative;
    font-size: clamp(1.4rem, calc(0.8vw + 1rem), 1.9rem);
    text-indent: 20px;
    bottom: -80px;
}

.cards-galeria{
    width: 100%;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 40vh;
}

.cards-galeria .imgs{
    border-radius: 5px;
    margin: 0.5vw;
    width: 100%;

}

.cards-galeria .imgs img{
    width: 97%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 25px;
    transition:  transform 0.24s ease-in-out;
}
.cards-galeria .imgs img:hover{
    transform:  scale(1.03);
}

.h-2{
    grid-row: span 2;
}

.w-2{
    grid-column: span 2;
}

#modal .btn,
#modal .btnfechar{
    position: absolute;
}

.btnfechar{
    top: 40px;
    right: 150px;
}
.btnfechar img{
     width: 40px;
     cursor: pointer;
     display: none;
}

#modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(29, 29, 29, 0.466);
    backdrop-filter: blur(10px);
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

#imgModal {
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
}

.btn{
    top: 50%;
    transform: translateY(-50%);
}

.btn img{
    cursor: pointer;
    width: 50px;
    display: none;

}
.prev{left: 50px;}
.next{right: 50px;}

@media screen and (max-width: 764px){
    .cards-galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 25vh;
    }
    .btnfechar{
    position: absolute;
    top: 40px;
    right: 80px;
    }
    .btn img{
        width: 30px;
        cursor: pointer;
        display: none;
    }
    .prev{left: 10px;}
    .next{right: 10px;}

}


/*Contato*/


.container_contato{
    width: 100%;
    min-height: 95vh;
}

.princial{
    display: flex;
}

.princial .box{
    width: 100%;
    padding: 10px;
}

.text{
    margin: 10px 20px;
}

.text h1,
.formu h1{
    font-size: clamp(1.5rem, 2vw + 1.7rem, 2.8rem);
    background-color: var(--color-terciario);
    text-align: center;
    max-width: 80%;
    min-width: 280px;
    margin: auto;
    border-radius: 10px;
    padding: 2%;
}

.text p{
    font-size: clamp(1rem, 1vw + 1.5rem, 1.8rem);
    background-color: var(--color-principal);
    width: 85%;
    margin: 50px auto;
    min-width: 280px;
    border-radius: 10px;
    padding: 2%;
}

.text .redes{
    width: 85%;
    margin-left: 60px;
}

.text .redes h2{
    color: var(--color-varient);
    text-align: left;
}

form{
    background-color: var(--color-terciario);
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 50px auto;
    gap: 10px;
    padding: 20px;
}

input,
textarea,
#Botao{
    background-color: var(--color-principal);
    border: none;
    border-radius: 5px;
    color: var(--color-senquenario);
    font-size: 18px;
    padding: 15px;
}

#Botao{
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 950px){
    .princial{
        flex-direction: column;
    }
}