*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after{
    transition: background-color 0.5s, color 0.5s, transform 0.4s;
}

:root{
    --color-principal: #ffffff;
    --color-secundario: #e0f0ff;
    --color-terciario: #243757;
    --color-quartenario: #0A1828;
    --color-quintenario: #ccc;
    --color-senquenario: #777;

    --color-menu: #333;
    --color-hover-menu: #BFA181;
    --color-end: #000;   
}

[data-theme="dark"]{
    --color-principal: #eeeeee;
    --color-secundario: #1E1E1E;
    --color-terciario: #2e3647;
    --color-quartenario: #0A1828;
    --color-quintenario: #ccc;
    --color-senquenario: #777;

    --color-menu: #ccc;
    --color-hover-menu: #BFA181;
    --color-end: #fff;
}

body{
    background-color: var(--color-secundario);
}

.menu{
    position: fixed;
    z-index: 1000;
}

.menu a{
    text-decoration: none;
    color: var(--color-quintenario);
}

.menu a:hover{
    color: var(--color-hover-menu);
}

.menu a label{
    cursor: pointer;
}

.menu #menuCheckbox{
    position: absolute;
    z-index: 1001;
    width: 35px;
    height: 25px;
    opacity: 0;
    top: 50px;
    left: 50px;
    cursor: pointer;
}

.menu #menuToggle{
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    top: 50px;
    left: 50px;
}

.menu #menuToggle span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    background-color: var(--color-menu);
    border-radius: 5px;
}

.menu #menuCheckbox:checked ~ #menuToggle span{
    background-color: var(--color-senquenario);
}

.menu #menuCheckbox:checked ~ #menuToggle span:first-child{
    transform: rotate(45deg) translate(7px, 7px);
}

.menu #menuCheckbox:checked ~ #menuToggle span:nth-child(2){
    opacity: 0;
}

.menu #menuCheckbox:checked ~ #menuToggle span:nth-child(3){
    transform: rotate(-45deg) translate(7px, -7px);
}

.menu ul{
    position: absolute;
    z-index: 998;
    top: 0;
    left: 0;
    width: 400px;
    height: 50vh;
    margin-left: -400px;
    padding: 150px 50px 50px;
    list-style: none;
    background-color: var(--color-quartenario);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu ul li{
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.menu ul li a{
    color: var(--color-principal);
}

.menu #menuCheckbox:checked ~ ul{
    margin-left: 0;
}

.menu #Buttondack{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-principal);
}

.menu #Buttondack img{
    position: relative;
    right: 8px;
    bottom: 6px;
    color: var(--color-principal);
    width: 35px;
    height: 35px;
}

section{
    width: 100%;
    min-height: 95vh;
}

.princial{
    display: flex;
}

.princial .box{
    width: 100%;
    padding: 10px;
}

.text{
    margin: 10px 20px;
}

.text h1,
.formu h1{
    font-size: clamp(1.5rem, 2vw + 1.7rem, 2.8rem);
    background-color: var(--color-terciario);
    text-align: center;
    max-width: 80%;
    min-width: 280px;
    margin: auto;
    border-radius: 10px;
    padding: 2%;
}

.text p{
    font-size: clamp(1rem, 1vw + 1.5rem, 1.8rem);
    background-color: var(--color-principal);
    width: 85%;
    margin: 50px auto;
    min-width: 280px;
    border-radius: 10px;
    padding: 2%;
}

.text .redes{
    width: 85%;
    margin-left: 60px;
}

.text .redes h2{
    color: var(--color-end);
    text-align: left;
}

form{
    background-color: var(--color-terciario);
    box-shadow: 0 1px 2px var(--color-quintenario);
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 50px auto;
    gap: 10px;
    padding: 20px;
}

input,
textarea,
button{
    background-color: var(--color-principal);
    border: none;
    border-radius: 5px;
    color: var(--color-senquenario);
    font-size: 18px;
    padding: 15px;
}

button{
    cursor: pointer;
    font-weight: bold;
}

.end{
    max-width: 150px;
    margin: auto;
    text-align: center;
    color: var(--color-end);
}

@media (max-width: 950px){
    .princial{
        flex-direction: column;
    }
}