*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: oklch(95.518% 0.04149 204.058);
    padding: 40px;
}

.menu{
    position: fixed;
}

.menu #menuCheckbox {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
}

.menu #menuCheckbox:checked ~ ul{

}

.menu #menuToggle {
    position: absolute;
    z-index: 999;
    /*cada linha vai ter 5px e cada uma tem dois padding com 5px, totalizando 15px em cada linha*/
    width: 35px;
    height: 35px;
}
.menu #menuToggle span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    background-color: #333;
    border-radius: 5px;
}


article{
    width: 100%;
    min-height: 100vh;
}

.princial{
    display: flex;
    flex-direction: row;
}

.princial .box{
    max-width: 100%;
    padding: 10px;
}

.text{
    margin-left: 10px;
    margin-bottom: 10px;
}

.text h1{
    font-size: clamp(1.5rem, calc(2vw + 1.7rem), 2.8rem);
    background-color:  oklch(70.4% 0.14 182.503);
    text-align: center;

    max-width: 80%;
    min-width: 400px;

    margin: auto;
    border-radius: 10px;
    padding: min(2em, 2%);
}

.text p{
    font-size: clamp(1rem ,calc(1vw + 1.5rem), 1.8rem);
    background-color:  white;

    max-width: 100%;
    min-width: 400px;
    margin-top: 50px;
    border-radius: 10px;
    padding: min(2em, 2%);
}

.box{
    width: 100%;
    min-width: 50%;
}

.formu{
    margin-left: 10px;
    margin-bottom: 10px;
}

.formu h1{
    font-size: clamp(1.5rem, calc(2vw + 1.7rem), 2.8rem);
    background-color:  oklch(70.4% 0.14 182.503);
    text-align: center;

    max-width: 80%;
    min-width: 400px;

    margin: auto;
    border-radius: 10px;
    padding: min(2em, 2%);
}

form{
    background-color:  oklch(70.4% 0.14 182.503);
    box-shadow: 0 1px 2px #ccc;
    display: flex;
    flex-direction: column;

    gap:10px;
    margin-top: 50px;
    padding: 20px;
}

input, textarea, button{
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px;
    color: #777;
    font-size: 18px;
    outline: none;
    padding: 15px;
    width: 100%;
}

button{
    cursor: pointer;
    font-weight: bold;
}



.end{
    max-width: 150px;
    text-align: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

@media screen and (max-width: 950px){
    .princial{
        display: flex;
        flex-direction: column;
    }

}