*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: oklch(95.518% 0.04149 204.058);
    padding: 40px;
}

p{
    font-size: 18px;
    line-height: 28px;
}

#menuToggle{
    display: block;
    position: fixed;
    top: 50px;
    right: 50px;

}

#menuToggle a{
    text-decoration: none;
    color: black;
    
}

#menuToggle a:hover{
    color: tomato;
}

article{
    min-height: 100vh;
    width: 100%;
}

.cards .princial{
    background:  oklch(70.4% 0.14 182.503);
    width: 96%;
    min-width: 290px;
    padding: 20px;
    border-radius: 20px;
    margin: 11px;
}

.cards .princial h1{
    font-size: clamp(2rem, calc(1.6vw + 1rem), 3rem);
    overflow-wrap: break-word;
    width: 100%;
    margin: auto;
    letter-spacing: 1px;
}

.cards .princial b{
    color: rgb(87, 245, 192);
    margin: 0.5vw;
}

.cards .princial h2{
    font-size: clamp(1.8rem, calc(1.2vw + 1rem), 2.8rem);
    width: 100%;
    margin: auto;
    letter-spacing: 1px;
}

.cards .princial p{
    position: relative;
    font-size: clamp(1.4rem, calc(0.8vw + 1rem), 1.9rem);
    text-indent: 20px;
    bottom: -80px;
}

.cards{
    width: 100%;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 40vh;
}

.cards .imgs{
    border-radius: 5px;
    margin: 0.5vw;
    min-width: 70%;
}

.cards .imgs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 25px;
    transition:  transform 0.24s ease-in-out;
}
.cards .imgs img:hover{
    transform:  scale(1.03);
}

.h-2{
    grid-row: span 2;
}

.w-2{
    grid-column: span 2;
}

.btnfechar{
    position: fixed;
    top: 40px;
    right: 150px;
}
.btnfechar img{
     width: 40px;
     cursor: pointer;
     display: none;
}

#modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(29, 29, 29, 0.466);
    backdrop-filter: blur(10px);
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

#imgModal {
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
}

.btn{
    position: fixed;
    top: 50%;
}

.btn img{
    cursor: pointer;
    width: 50px;
    display: none;

}
.prev{left: 50px;}
.next{right: 50px;}

.end{
    max-width: 150px;
    text-align: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

@media screen and (max-width: 764px){
    .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 25vh;
    }
    .btnfechar{
    position: fixed;
    top: 40px;
    right: 80px;
    }
    .btn img{
        width: 30px;
        cursor: pointer;
        display: none;
    }
    .prev{left: 10px;}
    .next{right: 10px;}

}

