*{
    margin: 0;
    padding: 0;
}
body{
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: oklch(95.518% 0.04149 204.058);
    transition: 0.5s;
}
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8dc9b5;
    transition: 0.5s;
}
.hero ul{
    text-align: right;
    margin: 20px, 10px, 0, 0;
}
.hero li{
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    font-size: clamp(0.8rem, calc(1vw + 0.25rem), 1.2rem);
}
a{
    color: whitesmoke;
    padding: 8px;
    letter-spacing: 1px;
    text-decoration: none;
}
a:hover{
    color: rgba(143, 143, 143, 0.829);
    opacity: 0.8;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
/*.trilho{
    width: 70px;
    height: 30px;
    background-color: rgb(226, 226, 226);
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: 5px;

}
.trilho .indicador{
    width: 30px;
    height: 30px;
    background-color: oklch(92.629% 0.06447 203.446);
    transform: scale(.9);
    border-radius: 50px;
    position: absolute;
    transition: 0.5s;
    left: 0;

}*/
.title_m{
    margin-top: 30px;
    text-align: center;
    color: rgb(39, 36, 36);
}
.title_m h1{
    display: inline-block;
    font-size: xx-large;
    text-transform: uppercase;
    text-align: left;
    font-size: clamp(0.6rem calc(2.5vw + 1.5rem) 2.5rem);
    border-bottom: 2px solid darkred;
    overflow: auto;
}
main{
    margin-top: 30px;
}
.cards{
    text-align: center;
    margin-top: auto;
}
.img_A{
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
    display: inline-block;
    text-align: center;
    margin: 10px 20px;
}
.img_A img{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
 footer{
    margin: 10px;
 }
.end{
    text-align: center;
    max-width: 150px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}
.trilho.dark{
    background-color: rgb(129, 129, 129);
}
.trilho.dark .indicador{
    background-color: rgb(61, 61, 61);
    left: 40px;
}
body.dark{
    background-color: #232323;
}
body.dark a:hover{
    background-color: rgba(0, 0, 0, 0.18);
}
body.dark .hero{
    background-color: oklch(48.326% 0.08609 182.997);
}
body.dark .bloc{
    background-color: #bdbdbd;
}
body.dark .card p, body.dark .subtitle{
    color: rgb(53, 53, 53);
}
body.dark .end p{
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}
body.dark .title_m h1{
    color: #dadada;
}