*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after{
    transition: background-color 0.5s, color 0.5s, transform 0.4s;
}

:root{
    --color-principal: #ffffff;
    --color-secundario: #e0f0ff;
    --color-terciario: #243757;
    --color-quartenario: #0A1828;
    --color-quintenario: #ccc;
    --color-senquenario: #777;

    --color-menu: #333;
    --color-hover-menu: #BFA181;
    --color-varient: #000;   
}

[data-theme="dark"]{
    --color-principal: #eeeeee;
    --color-secundario: #1E1E1E;
    --color-terciario: #2e3647;
    --color-quartenario: #0A1828;
    --color-quintenario: #ccc;
    --color-senquenario: #777;

    --color-menu: #ccc;
    --color-hover-menu: #BFA181;
    --color-varient: #fff;
}

body{
    background-color: var(--color-secundario);
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-terciario);
}

.hero p{
    color: var(--color-senquenario);
}
.menu{
    position: fixed;
}

.menu a{
    text-decoration: none;
    color: var(--color-quintenario);
    transition: color 0.3s ease;
}

.menu a:hover{
    color: var(--color-hover-menu);
    cursor: pointer;
}

.menu a label{
    cursor: pointer;
}

.menu #menuCheckbox {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 25px;
    opacity: 0;
    margin-top: 50px;
    margin-left: 50px;
    cursor: pointer;
}

.menu #menuToggle {
    position: absolute;
    z-index: 999;
    /*cada linha vai ter 5px e cada uma tem dois padding com 5px, totalizando 15px em cada linha*/
    width: 35px;
    height: 35px;
    margin-top: 50px;
    margin-left: 50px;
}
.menu #menuToggle span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    background-color: var(--color-quartenario);
    border-radius: 5px;
    transition: all 0.4s ease;
}

.menu #menuCheckbox:checked ~ #menuToggle span{
    background-color: var(--color-quintenario);
}
.menu #menuCheckbox:checked ~ #menuToggle span:first-child{
    transform: rotate(45deg) translate(7px, 7px);
}
.menu #menuCheckbox:checked ~ #menuToggle span:nth-child(2){
    opacity: 0;
}

.menu #menuCheckbox:checked ~ #menuToggle span:nth-child(3){
    transform: rotate(-45deg) translate(7px, -7px);
}

.menu ul{
    position: absolute;
    position: absolute;
    z-index: 998;
    top: 0;
    left: 0;
    width: 400px;
    height: 50vh;
    margin-left: -400px;
    padding: 150px 50px 50px;
    list-style: none;
    background-color: var(--color-quartenario);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    transition: all 0.4s ease;
}

.menu ul li{
    margin-bottom: 20px;
    font-size: 1.5rem;
}

menu ul li a{
    color:  var(--color-quintenario);
}

.menu #menuCheckbox:checked ~ ul{
    margin-left: 0;
    transition: all 0.4s ease;
}

.menu #Buttondack{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-principal);
}

.menu #Buttondack img{
    margin-top: 2px;
    text-align: center;
    color: var(--color-principal);
    width: 35px;
    height: 35px;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: default;
}

.container{
    background-image: url(../Pasta_imagem/banner3temaclaro.jpg);
    background-size: cover;
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.title_m{
    text-align: center;
    color: var(--color-quartenario);
    margin-top: 100px;

}

.title_m h1{
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 2px solid darkred;
    font-size: clamp(0.6rem, calc(2vw + 1.2rem), 2.5rem);
    color: #0041bb;
}
.title_m p{
    color: whitesmoke;
    max-width: 190px;
    margin: auto;
    text-transform: capitalize;
    text-align: center;
    font-size: clamp(1rem, calc(1.2vw + 0.7rem), 1.5rem);
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid white;
}

.bloc{
    background-color: var(--color-principal);
    max-width: 800px;
    min-width: 320px;

    margin: auto;
    margin-top: 20px;
    border-radius: 1rem;
    padding: min(5em, 8% );
    overflow: auto;
}

.card img{
    width: 320px;
    height: 315px;
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
    max-width: 60%;
    height: auto;
}

.subtitle{
    margin-left: 80px;
}

.card p{
    font-size: large;
    line-height: 1.8;
}

footer{
    margin: 10px;
}

.end p{
    max-width: 150px;
    margin: auto;
    color: var(--color-varient);
    text-align: center;
}